*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}

body{
    background-color: brown;
    margin: 25px;
    padding: 20px;
}

.container{
background-color: white;
display: grid;
justify-content: space-around;
align-content: center;

}

.input[type=text]{
width: 100px;
padding: 12px 20px;
margin: 8px;

}



.budget{
background-color: white;
display: grid;
justify-content: space-around;
align-content: center;
}
